.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 28px;
    z-index: 1;
}

.header__wrapper {
    display: flex;
    align-items: center;
}

.header__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__menu {
    display: flex;
    list-style: none;
    margin-left: 128px;
}

.header__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    padding-right: 40px;
}

.header__link:hover {
    color: var(--blue-color);
}
